PORT=10000
ALLOW_ORIGINS=http://localhost:3000
FRONTEND_URL=http://localhost:3000
ADMIN_PASSCODE_HASH=<sha256_hash_of_admin_passcode>
ADMIN_SESSION_SECRET=<long_random_session_secret>
ADMIN_SESSION_TTL_MS=3600000
FIREBASE_SERVICE_ACCOUNT_B64=<base64_encoded_firebase_service_account_json>
TMDB_API_KEY=<tmdb_api_key>
STRIPE_SECRET_KEY=<stripe_secret_key_if_checkout_is_enabled>
STRIPE_PRICE_ID=<stripe_price_id_if_checkout_is_enabled>
